head{
padding: 0;
margin: 0;
}
body{
    padding: 0;
    margin: 10 auto;
}
Header{
    background-color: aquamarine;
}
main{
    background-color: aqua;
    display: flex;
}
footer{
    background-color: bisque;
}
nav{
    background-color:grey;
}
.nav{
    display: flex;
}
.nav-list{
    list-style: none;
    margin-right: 20px;
    background-color: beige;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
style{
font-family: 'Noto Sans TC', sans-serif;
}
main h1{
    padding-left: 20px;
}
main div{
    width: 70%;
    background-color: blueviolet;
    border-style: none dotted none solid;
}
main aside{
    width:30%;
    background-color: green;
    border-style: none solid none none;
}


